# dependencies
node_modules/
.pnp
.pnp.js

# Next.js
frontend/.next/
frontend/out/

# Rust / Cargo
target/
**/*.wasm

# environment files
.env
.env.local
.env*.local
server/.env

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*

# TypeScript
*.tsbuildinfo
frontend/next-env.d.ts

.vscode
.idea
